<% layout('layouts/boilerplate') %>

    <div id="cluster-map"></div>

    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>
    <% for( let campground of campgrounds ) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if (campground.images.length) { %>
                        <img class="img-fluid" src="<%= campground.images[0].url %>" alt="">
                        <% } else {%>
                            <img class="img-fluid"
                                src="https://res.cloudinary.com/mickel/image/upload/v1622797860/YelpCamp/atuvcxsdzmvvjaowhkx7.jpg"
                                alt="">
                            <% }%>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">View <%= campground.title %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        // this will show an error but will break nothing
            const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
        </script>
            
        <script src="/js/clusterMap.js"></script>